@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-blue: #1992d4;
  --background-gray: #eaeef4;
  --main-black: #2d2d2d;
  --text-gray: #777;
  --color-stripe-orange: rgb(245, 183, 68);
  --color-stripe-blue: #3791f0;
  --color-stripe-green: hsl(151, 86%, 54%);
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: var(--main-black);
}

.main-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 200px 1fr;
  height: 100vh;
}

.card {
  border-radius: 6px;
  box-shadow: 3px 3px 3px #00000015;
}

.top-bar {
  grid-column: 2 / 3;
  padding: 10px 50px 15px 35px;
  box-shadow: 0px 3px 3px #00000015;
  z-index: 1;
  display: grid;
  grid-template: auto auto / auto;
  gap: 15px;
  background-color: #fff;
}

.top-bar-top-half {
  display: grid;
  grid-template-columns: 1fr 40px 30px auto auto;
  align-items: center;
  gap: 20px;
}

.search-container {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-column-start: 1;
}

.search-icon {
  position: relative;
  top: 2px;
}

.search-bar {
  background-color: var(--background-gray);
  border-radius: 11px;
  border-style: none;
  padding: 5px;
  font-size: 0.8rem;
  color: #626262;
  max-width: 300px;
}

.search-bar:focus {
  outline: none;
  box-shadow: 3px 3px 3px #00000005;
  transition: 50ms ease-in-out;
}

.notification-icon {
  grid-column-start: 2;
}

.notification-icon img {
  filter: invert(30%);
}

.small-profile-picture {
  width: 40px;
  border-radius: 50%;
}

.name {
  font-size: 1.1rem;
}

.menu-icon img {
  position: relative;
  left: 10px;
  top: 2px;
  width: 30px;
  filter: invert(50%);
}

.top-bar-bottom-half {
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  align-items: center;
  gap: 20px;
}

.top-bar-bottom-half h2 {
  font-size: 1.4rem;
}

.profile-picture {
  width: 60px;
  border-radius: 50%;
}

.account-name-container {
  display: grid;
  grid-template-rows: auto auto;
  align-content: center;
  gap: 4px;
}

.account-name-container div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 6px;
}

button {
  width: 80px;
  height: 30px;
  font-size: 0.75rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #fff;
  border: none;
  background-color: var(--main-blue);
  border-radius: 15px;
}

.new-button {
  grid-column-start: 4;
}

.sidebar {
  grid-row: 1 / 3;
  padding: 20px;
  min-width: 190px;
  display: grid;
  grid-template-rows: auto auto auto;
  align-content: start;
  background-color: var(--main-blue);
  color: white;
  letter-spacing: 0.03rem;
  gap: 20px;
  z-index: 2;
}

.sidebar-title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 8px;
}

.sidebar img {
  filter: invert();
}

.nav {
  display: grid;
  align-content: start;
  padding-left: 0;
  gap: 16px;
}

.nav img {
  width: 17px;
  justify-self: center;
}

.nav li {
  list-style: none;
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-left: 0;
  gap: 8px;
  align-items: center;
  transition: 50ms ease-in-out;
}

.nav li:hover {
  opacity: 80%;
  transition: 50ms ease-in-out;
  cursor: pointer;
}

.nav li h2 {
  font-size: 11pt;
  font-weight: 500;
  grid-column-start: 2;
}

.content-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: var(--background-gray);
  padding-top: 10px;
}

.content-container h2 {
  font-size: 12pt;
}

.projects-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  padding: 20px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
  overflow: scroll;
  gap: 20px;
  height: fit-content;
}

.project {
  height: 160px;
  display: grid;
  align-content: start;
  background-color: #fff;
  grid-template-columns: 7px 1fr;
  grid-template-rows: 1fr;
}

.color-stripe-orange {
  background-color: var(--color-stripe-orange);
  border-radius: 6px 0 0 6px;
  grid-row: 1 / 2;
}

.color-stripe-blue {
  background-color: var(--color-stripe-blue);
  border-radius: 6px 0 0 6px;
  grid-row: 1 / 2;
}

.color-stripe-green {
  background-color: var(--color-stripe-green);
  border-radius: 6px 0 0 6px;
  grid-row: 1 / 2;
}

.project-title {
  font-size: 11pt;
}

.project-inner-container {
  display: grid;
  align-content: center;
  padding: 30px 15px 15px 15px;
  grid-template-rows: auto auto 1fr auto;
}

.project-button-container {
  justify-self: end;
  grid-row-start: 4;
  display: grid;
  grid-template-columns: 30px 30px 30px;
  gap: 10px;
}

.project-button-container a {
  display: grid;
  place-self: center;
  transition: 50ms ease-in-out;
}

.project-button-container a:hover {
  opacity: 70%;
  transition: 50ms ease-in-out;
}

.project-button-container img {
  width: 20px;
  filter: invert(35%);
  place-self: center;
}

.project p {
  color: var(--text-gray);
  font-size: 10pt;
  line-height: 1.1rem;
  margin-top: 4px;
}

.content-sidebar {
  display: grid;
  grid-template-rows: auto auto;
  min-width: 250px;
  gap: 20px;
  padding: 20px 20px 20px 0;
  height: fit-content;
}

.announcements-wrapper,
.trending-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: fit-content;
}

.announcements {
  padding: 20px;
  background-color: #fff;
  display: grid;
  grid-auto-flow: row;
  height: fit-content;
  grid-auto-rows: auto 1px;
  gap: 15px;
}

.announcement h5 {
  margin: 0 0 0.4rem 0;
}

.announcement p {
  margin: 0;
  font-size: 9pt;
  line-height: 0.9rem;
  color: var(--text-gray);
}

.separator {
  background-color: rgb(222, 222, 222);
}

.trending {
  padding: 20px;
  background-color: #fff;
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 18px;
}

.trending-person {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  height: fit-content;
}

.trending-pic {
  width: 40px;
  height: 40px;
  overflow: hidden;
  place-self: center;
  border-radius: 50%;
}

.trending-person p {
  color: var(--text-gray);
  font-size: 9pt;
}

.trending-profile {
  display: grid;
  align-items: center;
}

p {
  margin: 0;
}

h5 {
  margin: 0;
}

h4 {
  margin: 0;
  font-size: 0.8rem;
}

h3 {
  margin: 0;
}

h2 {
  margin: 0;
}

h1 {
  font-size: 14pt;
  font-weight: 500;
  margin: 0;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1045px) {

  .account-name-container div {
    grid-template: 1fr 1fr / 1fr;
  }

  .sidebar {
    min-width: fit-content;
  }

  .sidebar h1 {
    display: none;
  }

  .sidebar-title {
    grid-template-columns: 1fr;
    place-self: center;
  }

  .nav {
    gap: 26px;
  }

  .nav img {
    width: 23px;
  }

  .nav li {
    grid-template-columns: 50px;
  }

  .nav h2 {
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .sidebar {
    display: none;
  }

  .main-container {
    grid-template-columns: 1fr;
  }
  .content-container {
    grid-template-columns: 1fr;
    grid-column: 1 / 2;
  }

  .top-bar {
    grid-column: 1 / 2;
  }

  .content-sidebar {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 830px) {
  button {
    width: 60px;
  }
}
@media screen and (max-width: 610px) {
  .small-profile-picture {
    display: none;
  }
  .top-bar-top-half {
    grid-template-columns: 1fr 40px 30px auto;
  }
}

@media screen and (max-width: 595px) {
  button {
    display: none;
  }

  .top-bar-bottom-half {
    grid-template-columns: auto auto;
    justify-content: start;
  }
}

@media screen and (max-width: 442px) {
  .top-bar-top-half {
    grid-template-columns: 30px 1fr 30px auto;
  }

  .notification-icon {
    grid-column-start: 3;
  }

  .search-bar {
    display: none;
  }

  .content-sidebar {
    grid-template-columns: 1fr;
  }
}
